* {
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: black;
}