@font-face {
  font-family: MADE Soft Medium;
  src: url(/assets/font/MADETommySoftMedium.otf);
}

@font-face {
  font-family: MADE Soft Regular;
  src: url(/assets/font/MADETommySoftRegular.otf);
}

@font-face {
  font-family: MADE Soft Bold;
  src: url(/assets/font/MADETommySoftBold.otf);
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 0 16vw 0 16vw;
}

.navbar-brand img {
  height: 3rem;
}

.nav-item {
  font-family: 'MADE Soft Medium';
  font-size: 0.85rem;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
  background: white;
  color: #E50019;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
  padding: 5px 15px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16vw 0 16vw;
  margin: 0;
  background-color: #E50019;
}

.text-home {
  color: white;
  text-align: end;
  font-size: 3rem;
  font-family: 'MADE Soft Regular';
}

.text-home strong {
  font-family: 'MADE Soft Bold';
}

.logo {
  font-family: 'MADE Soft Regular';
  color: white;
}

.logo img {
  max-height: 250px;
  margin-bottom: 60px;
}

.btn-primary-custom {
  color: #E50019;
  background-color: white;
  width: 160px;
  padding: 8px;
  border-radius: 20px;
  font-family: 'MADE Soft Medium';
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
}