@font-face {
  font-family: MADE Soft;
  src: url(/assets/font/MADETommySoftMedium.otf);
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar {
  padding: 20px 0;
}

.navbar-brand img {
  height: 3rem;
}

.nav-item {
  font-family: 'MADE Soft';
  font-size: 0.85rem;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link  {
  background: white;
  color: #E50019;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
  padding: 5px 15px;
}
/* 
.banner {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-color: #E50019;
} */

#img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.custom-shape-divider-bottom-1604015309 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1604015309 svg {
  position: relative;
  display: block;
  width: calc(208% + 1.3px);
  height: 164px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1604015309 .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1604015309 svg {
      width: calc(208% + 1.3px);
      height: 189px;
  }
}
.background {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #E50019;
  width: 100%;
  height: 100vh;
}
