@font-face {
  font-family: MADE Soft Medium;
  src: url(/assets/font/MADETommySoftMedium.otf);
}

@font-face {
  font-family: MADE Soft Regular;
  src: url(/assets/font/MADETommySoftRegular.otf);
}

@font-face {
  font-family: MADE Soft Bold;
  src: url(/assets/font/MADETommySoftBold.otf);
}

nav {
  background-color: #E50019;
}

.navbar-brand img {
  height: 3rem;
}

.nav-item {
  font-family: 'MADE Soft Medium';
  font-size: 0.85rem;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
  background: white;
  color: #E50019;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
  padding: 5px 15px;
}

.home {
  width: 100%;
  min-height: 85vh;
  background-color: #E50019;
}

.text-home {
  color: white;
  text-align: end;
  font-size: 3rem;
  font-family: 'MADE Soft Regular';
}

.text-home strong {
  font-family: 'MADE Soft Bold';
}

.logo {
  font-family: 'MADE Soft Regular';
  color: white;
}

.logo img {
  max-height: 250px;
}

.btn-primary-custom {
  color: #E50019;
  background-color: white;
  width: 160px;
  padding: 8px;
  border-radius: 20px;
  font-family: 'MADE Soft Medium';
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
}

.btn-secondary-custom {
  color: #E50019;
  background-color: white;
  border: #E50019 2px solid;
  border-radius: 60px;
  width: 120px;
  padding: 4px;
  font-size: 0.8rem;
  font-family: 'MADE Soft Medium';
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  outline: none;
}

.title {
  font-family: 'MADE Soft Bold';
  text-align: center;
  padding: 30px;
}

.title::after,
.title::before {
  content: ' ★ ';
  font-size: 1.2rem;
}

.about img {
  width: 540px;
  border-radius: 6px;
}

.text-about {
  font-family: 'MADE Soft Regular';
  font-size: 1rem;
  text-align: center;
  line-height: 1.8rem;
}

.centered {
  margin: 0 auto !important;
  float: none !important;
}

.custom-card {
  background-color: #F8F8F8;
  border-radius: 10px;
  height: 320px;
  position: relative;
  width: 100%;
}

.photo-card {
  width: 100%;
  height: 170px;
  border-radius: 10px 10px 0 0;
}

.content-card {
  font-family: 'MADE Soft Medium';
  text-transform: uppercase;
  text-align: center;
}

.date-news {
  position: absolute;
  background-color: #E50019;
  width: 120px;
  height: 24px;
  text-align: center;
  border-radius: 40px;
  font-family: 'MADE Soft Medium';
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  margin-top: -12px;
}

.proposal  {
  font-family: 'MADE Soft Medium';
  text-transform: uppercase;
}

.proposal a {
  color: black !important;
}

.proposal-doc {
  width: 600px;
  padding: 30px;
}